#box1 {

    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    margin-top: 200px;
    
   
}
p{
    text-align: center;
}
input{
    box-shadow:  0px px rgb(143, 142, 142);
}
#box1 .box2{
    
    border: 1px solid #000;
    padding: 0px;
    margin: 2px;
    background-color: rgb(129, 129, 129);
     border-radius: 10px;
}